<template name = "diagnostics">
    <div id="header">
            <div class="back table-cell"></div>
            <p class="pagename table-cell">{{childName}}</p>
            {{> menu}}
            <div class="clear"></div>
        </div>
        <div class="main-content vision">
            <h3>Vision Safety</h3>
            <!-- <div class="chart" data-percent="75"></div> -->
            <div id = "pieChartVisionSafety">
              <div class="pieChart" data-percent="{{vision_safety}}">
                <span >{{vision_safety}}% </span>
              </div>
            </div>
            <p class="text">Date of measurement: {{date_measurement}} <br>
            Visual acuity: {{visual_acuity}}</p>
            <h3>History of diagnosis</h3>
            <canvas id="graphVisionSafety" width="{{graphVisionSafetyWidth}}"  height="{{graphVisionSafetyHeight}}"> </canvas>
        </div>
</template>

<!-- <template name = "diagnostics">
	<div id="header">
            <div class="back table-cell"></div>
            <p class="pagename table-cell">{{childName}}</p>
            {{> menu}}
            <div class="clear"></div>
        </div>

				 <h2 class = "text-center"> Vision Safety</h2>
				<div style ="width:150px;margin:auto;">
					<div class="pieChart" data-percent="{{vision_safety}}">
						<span style = "font-size:35px">{{vision_safety}}% </span>
					</div>
				</div>
				<div class = "text-center"> Date of measurement: {{date_measurement}} </div>
				<div class = "text-center" > Visual acuity: {{visual_acuity}} </div>
				<div style ="width:300px;margin:auto;">
					<canvas id="graph" width="300" height="200"></canvas>
			  </div>
</template>
 -->
<!-- <template name = "diagnostics">
<div id="header">
            <div class="back table-cell"></div>
            <p class="pagename table-cell">Anastasia-Savanna</p>
            <div class="header_actions table-cell">
                <div class="circle"></div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="main-content vision">
            <h3>Vision Safety</h3>
            <div class="chart" data-percent="75"></div>
            <p class="text">Visual acuity: 0,5 (20/40)</p>
            <h3>History of Diagnosis</h3>
            <canvas id="myChart"> </canvas>
        </div>
 </template> -->