<template name = "changePassword">
	<div id="header">
		<div class="back table-cell"></div>
		<p class="pagename table-cell">Change password</p>
		{{> menu}}
		<div class="clear"></div>
	</div>
	<div class="main-content login-content">
		<div class="screen login">
			<div class="login-form">
				<!-- <form method="post" action="#">
					<input class="form-control" placeholder="Email" type="email" name="email">
					<input class="form-control" placeholder="Password" type="password" name="password">
					<button type="submit" class="btn btn-primary orange">Save</button>
				</form> -->
				{{#autoForm schema = "Scheme.changePassword" id = "changePasswordForm"}}

				<!-- <div class="form-control{{#if afFieldIsInvalid name='passwordOld'}} has-error{{/if}}"> -->
					{{> afFieldInput name='passwordOld' id = 'passwordOld' type = 'password' placeholder = 'Existing Password' class='form-control' }} 
					{{#if afFieldIsInvalid name='passwordOld'}}
					<span class="help-block">{{afFieldMessage name='passwordOld'}}</span>
					{{/if}}
				<!-- </div> -->

				<!-- <div class="form-control{{#if afFieldIsInvalid name='password'}} has-error{{/if}}"> -->
					{{> afFieldInput name='password' id = 'password' type = 'password' placeholder = 'New Password' class='form-control' }}        
					{{#if afFieldIsInvalid name='password'}}
					<span class="help-block">{{afFieldMessage name='password'}}</span>
					{{/if}}
				<!-- </div> -->

				<!-- <div class="form-control{{#if afFieldIsInvalid name='passwordCopy'}} has-error{{/if}}"> -->
					{{> afFieldInput name='passwordCopy' id = 'passwordCopy' type = 'password' placeholder = 'Confirmed New Password' class='form-control' }}        
					{{#if afFieldIsInvalid name='passwordCopy'}}
					<span class="help-block">{{afFieldMessage name='passwordCopy'}}</span>
					{{/if}}
				<!-- </div> -->

				<div class = "has-error" ><h3>{{messageServer}}</h3></div>
				 <button type="submit" class="btn btn-primary orange">Save</button>
				<!-- <a id = "changePassword" class="btn btn-primary btn-fab btn-raised mdi-action-done submitBtn" ></a> -->
				{{/autoForm}}
			</div>
		</div>
	</div>
</template>	