<template name="layout">
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			<div class="navbar navbar-primary">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="{{pathFor 'mainPage'}}">KEEPVISION</a>
				</div>	
				
				<div class="navbar-collapse collapse navbar-responsive-collapse">
					<ul class="nav navbar-nav">
						<li><a href="{{pathFor 'listUsers'}}">Пользователи</a></li>
						<li><a href="{{pathFor 'listAdmins'}}">Администраторы</a></li>
						<li><a href="{{pathFor 'listDoctors'}}">Врачи</a></li>
						
						<li class="dropdown">
							<a href="" data-target="#" class="dropdown-toggle" data-toggle="dropdown">Настройки <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="{{pathFor 'intervalMatrix'}}">Продолжительность непрерывного пользования</a></li>
								<li><a href="{{pathFor 'factorMatrix'}}">Настройки факторов</a></li>
							</ul>
						</li>
						

					</ul>
					
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
								{{userName}} <span class="caret"></span>
							</a>
							{{#if currentUser}}
								{{> menuAuthUser}}
							{{else}}
								{{#if typeMenuForgotPassword}}
									{{> forgotPassword}}
								{{else}}
									{{> authorization}}
								{{/if}}
							{{/if}}
						</li>
					</ul>			
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
	</div>
	{{> yield}}
</template>
