<template name = "authorization">	
        <div id="login-header" class="container-fluid">
            <img src="img/logo.svg" class="logo">
            <ul id="tabs">
                <li class="tab active col-md-6 col-xs-6 col-sm-6 col-lg-6" data-target="login">Login</li>
                <li class="tab col-md-6 col-xs-6 col-sm-6 col-lg-6" data-target="screen">Signup</li>
                <li class="clear"></li>
            </ul>
        </div>
        <div class="main-content login-content">
            <div class="screen login">
                <div class="login-form">
                    {{#autoForm schema = "Scheme.authorization" id = "authorizationForm" class="simple-form"}}
												{{> afFieldInput name="email" id = "email" placeholder = "Email" value = emailValue class="form-control"}} 
												{{#if afFieldIsInvalid name='email'}}
												<span class="help-block">{{afFieldMessage name='email'}}</span>
												{{/if}}

												{{> afFieldInput name='password' id = 'password' type = 'password' placeholder = 'Password' class="form-control"}}        
												{{#if afFieldIsInvalid name='password'}}
												<span class="help-block">{{afFieldMessage name='password'}}</span>
												{{/if}}
											<div class = "has-error" ><h3>{{messageServer}}</h3></div>
									
											<button type="submit" class="btn btn-primary orange">Log in</button>
											{{/autoForm}}
                    <div class="btn btn-default btn-flat forgot_password">Forgot?</div>
                </div>
                <div class="forgot-form">
                    <h2>Forgot?</h2>
                    	{{#autoForm schema = "Scheme.forgotPassword" id = "forgotPasswordForm" class="simple-form"}}

												{{> afFieldInput name='email' id = 'email' placeholder = 'Email' }} 
												{{#if afFieldIsInvalid name='email'}}
												<span class="help-block">{{afFieldMessage name='email'}}</span>
												{{/if}}

											<div class = "has-error" ><h3>{{messageServer}}</h3></div>
											<button type="submit" class="btn btn-primary orange">Send</button>
											{{/autoForm}}
                </div>
            </div>
            <div class="screen signup">
                <div class="login-form">
                    {{#autoForm schema = "Scheme.registrtion" id = "registrationForm" class="simple-form"}}

												{{> afFieldInput name = "first_name" placeholder = "first name" class="form-control"}}
												{{#if afFieldIsInvalid name = 'first_name'}}
												<span class="help-block">{{afFieldMessage name = "first_name"}}</span>
												{{/if}}

												{{> afFieldInput name = "last_name" placeholder = "last name" class="form-control"}}
												{{#if afFieldIsInvalid name = 'last_name'}}
												<span class="help-block">{{afFieldMessage name = "last_name"}}</span>
												{{/if}}

												{{> afFieldInput name = "email" placeholder = "e-mail" class="form-control"}}
												{{#if afFieldIsInvalid name='email'}}
												<span class="help-block">{{afFieldMessage name = "email"}}</span>
												{{/if}}
			
												{{> afFieldInput name = "password" placeholder = "password" type = "password" class="form-control"}}
												{{#if afFieldIsInvalid name="password"}}
												<span class="help-block">{{afFieldMessage name=  "password"}}</span>
												{{/if}}

												<a href="{{pathFor 'userAgreement'}}">user agreement</a>

												<div class = "has-error" ><h3>{{messageServer}}</h3></div>
											 <button type="submit" class="btn btn-primary orange">Go</button>

											{{/autoForm}}
                </div>
            </div>
        </div>
</template>