<template name = 'doctorDescription'>
  <div id="header">
          <div class="back table-cell"></div>
          <p class="pagename table-cell">Doctor</p>
          {{> menu}}
          <div class="clear"></div>
      </div>
      <div class="main-content doctor">
          <div class="doc_header">
              <div class="image">
                  <img src="../../img/doctor.png" alt="">
                  <p class="empty_photo">Photo is empty</p>
              </div>
              <p class="doc_name">{{full_name}}</p>
              <div class="doc_call btn btn-fab btn-raised btn-material-orange">
                  <i class="call"></i>
              </div>
          </div>
          <div class="doc_contacts">
              <ul class="list">
                  {{#if profile.address}}
                    <li class="item map">{{profile.address}}</li>
                  {{/if}}
                  {{#if profile.website}}
                    <li class="item web">{{profile.website}}</li>
                  {{/if}}
                  {{#if profile.phone}}
                    <li class="item phone">{{profile.phone}}</li>
                  {{/if}}
              </ul>
              <a href="#" class="btn btn-default btn-flat view_location">View location</a>
          </div>
      </div>
</template>