<template name = "addChild">
	<div id="header">
		<div class="back table-cell">
		</div>
		<p class="pagename table-cell">Add Children</p>
  {{> menu}}
	  <div class="clear"></div>
	</div>
	<div class="main-content">
		{{#autoForm schema = 'Schems.childClient' id = 'addChildrenForm' type = 'method' meteormethod = 'addChild' class="add_child"}}
			<div class="line">
				{{> afFieldInput name='name' id = 'name' placeholder = 'Name' }} 
				{{#if afFieldIsInvalid name='name'}}
					<span class="help-block">{{afFieldMessage name='name'}}</span>
				{{/if}}
			</div>
			<div class="line need_height select_male">
				<label>Select male:</label>
				<div class="radios">
					<div class="radio_group">
						<input type="radio" name="male" value='1' class="radio_input none">
						<div class="radio_block male" data-target="male"></div>
					</div>
					<div class="radio_group">
						<input type="radio" name="male" value='0' class="radio_input none">
						<div class="radio_block female" data-target="female"></div>
					</div>
				</div>
			</div>
			<div class="line">
				{{> afFieldInput name='birthday' id='birthday' placeholder="Birthday date" }} 
				{{#if afFieldIsInvalid name='birthday'}}
					<span class="help-block">{{afFieldMessage name='birthday'}}</span>
				{{/if}}
			</div>
			<div class="line need_margin">
            <label id = "desease">
            	<span class="mdi-toggle-check-box-outline-blank" id = "deseaseSymbol"></span> 
            	Parents have the desease of vision
            	</label> 
            	<input type="checkbox" style="opacity:0;" id = "deseaseInput"> 
      </div>
			<div class="line">
				<p class="name">
					Sharpness of vision:
					<span id="count">{{sharpness}}</span>
				</p>
				<div class="slider shor slider-material-blue" id = "slider"></div>
			</div>
			<div class = "has-error" ><h3>{{messageServer}}</h3></div>
			<button type="submit" class="btn btn-primary orange">Add</button>

		{{/autoForm}}
	</div>
</template>
