<template name="itemUser">
    <div class="list-group-item">
		<div class="row-action-primary">
			<i class="mdi-file-folder"></i>
		</div>
        <div class="row-content">
			<a href="{{pathFor 'pageUser'}}" id="user-detail">
				<h4 class="list-group-item-heading">
					{{last_name}} {{first_name}}
				</h4>
				<p class="list-group-item-text">{{email}}</p>
			</a>
        </div>
    </div>
	
    <div class="list-group-separator"></div>
</template>