<template name="listUsers">
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			{{#if currentUser}}
					<div class="row">
						<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
						<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="row">
										<div class="col-lg-7 col-md-7 col-sm-7 col-xs-8">
											<h3>
												<p class="text-primary text-head">
													Пользователи
												</p>
											</h3>
										</div>
										<div class="col-lg-5 col-md-5 col-sm-5 col-xs-4">
											{{#if search}}
												<div class="search">
													<form id="form-search" class="navbar-form navbar-left">
														<input id="name-search" type="text" class="form-control" placeholder="Search by name or email">
													</form>
													<div id="icon-search" class="icon-preview-s">
														<i class="mdi-action-search"></i>
													</div>
												</div>
											{{else}}
												<div class="search">
													<div id="icon-search" class="icon-preview-s">
														<i class="mdi-action-search"></i>
													</div>
												</div>
											{{/if}}
										</div>
									</div>
								</div>
								<div class="panel-body">
									{{#if resultOfSearch}}
										<div class="list-group">
											{{#each resultOfSearch}}
												{{> itemUser}}
											{{/each}}
										</div>
									{{/if}}
									{{#if notFound}}
										<h4>
											<p class="text-primary text-head">
												По запросу {{query}} ничего не найдено
											</p>
										</h4>
									{{else}}
										<div class="list-group">
											{{#each user}}
												{{> itemUser}}
											{{/each}}
										</div>
										
										<ul class="pager">
											{{#if less}}
												<li><a>Previous</a></li>
											{{else}}
												<li><a id="page-previous" href="">Previous</a></li>
											{{/if}}
											
											<li class="text-primary">{{page}}</li>
											
											{{#if more}}
												<li><a>Next</a></li>
											{{else}}
												<li><a id="page-next" href="">Next</a></li>
											{{/if}}
										</ul>	
									{{/if}}
								</div>
							</div>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
					</div>
			{{else}}
				<h1><p class="text-danger text-head">
					Пожалуйста авторизуйтесь!
				</p></h1>
			{{/if}}
		</div>
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
	</div>
</template>




			
		