/***********     all     ************/
.text-head {
	margin-left: 89px;
}
.list-group a:link {
	color: #333;
	background: #fff;
}
.list-group a:visited {
	text-decoration: none !important;
	color: #333;
}
.list-group a:hover {
	color: #333;
	text-decoration: none !important;
	background-color: #999 !important;
}
.pager a {
	border: none !important;
}

/***********     users list     ************/
.search {
	margin-top: 20px;
}
#icon-search {
	position: absolute;
	right: 0;
	margin-right: 15px !important;
}
#form-search {
	margin-top: 0px;
	width: 100% !important;
}
#name-search {
	width: 90% !important;
}

/***********     user page     ************/
.user-name {
	padding-left: 30px;
}
.page-properties {
	padding-left: 30px;
}
.page-properties-without-icon {
	padding-left: 59px;
	width: 100% !important;
}
.page-separator {
	margin-left: 55px !important;
	color: #000 !important;
}

/***********     child page     ************/
#child-btn-back {
	margin-top: -30px;
	margin-left: 24px;
}
#diagnosis {
	width: 100% !important;
}
#session {
	width: 100% !important;
}
.table-diagnosis {
	/*margin-right: 15px;*/
	margin-left: 50px;
	width: 80%;
	text-align: center;
}
.table-session {
	/*margin-right: 15px;*/
	margin-left: 40px;
	width: 90%;
}
.table-session td{
	text-align: center !important;
	width: 20%;
}
.td-yellow {
	background-color: yellow;
}
.td-red {
	background-color: red;
}
.td-green {
	background-color: #00bb00;
}
.td-session {
	width: 10% !important;
	text-align: center !important;
}

/***********     doctors     ************/
.doctor-btn-new {
	margin-top: -30px;
	margin-left: 24px;
}
.doctor-btn-save {
	margin-top: -30px;
	position: relative;
	margin-left: 80%;
}
.doctor-list-icon {
	width: 44px !important;
	height: 44px !important;
}
.doctor-page-text-head {
	padding-left: 30px;
}
.doctor-page {
	width: 83% !important;
	margin-left: 10px;
}
.doctor-delete {
    color: #666;
}
.doctor-delete:hover {
    color: #666;
    text-decoration: none;
}
.doctor-edit {
    color: #ccc;
}
.doctor-edit:hover {
    color: #ccc;
    text-decoration: none;
}
.doctor-form-input-tab {
	margin-left: 0px;
}
.doctor-form-input-text {
	font-size: 12pt !important;
	color: red !important;
}
.icon-edit {
	position: absolute;
	right: 0;
	margin-right: 40px !important;
	width: 15px;
	height: 15px;
}
#doctor-input input {
	font-size: 22px !important;
	background-image: linear-gradient(#009688, #009688), linear-gradient(#fff, #fff) !important;
}
#doctor-input-new input {
	font-size: 20px !important;
}
#doctor-input-new label {
	visibility: hidden !important;
	height: 0px !important;
}
#doctor-input label {
	visibility: hidden !important;
	height: 0px !important;
}
#doctor-select select {
	font-size: 22px !important;
	background-image: linear-gradient(#009688, #009688), linear-gradient(#fff, #fff) !important;
	margin-left: -20px !important;
	width: 150% !important;
}
#doctor-select-new select {
	font-size: 20px !important;
	margin-left: -20px !important;
	width: 150% !important;
}
.latLng {
	visibility: hidden !important;
}
/***********************************************************/
.map-container {
	width: 100%;
	max-width: 100%;
	height: 500px;
}


/*.label-status {
	position: absolute;
	right: 0;
	margin-right: 15px;
	width: 100px;
	height: 25px;
	font-size: 15px;
	margin-top: 10px;
}

.td-size-one {
	padding-left: 15px;
	padding-right: 15px;
	width: 150px;
}
.td-size-two {
	padding-left: 15px;
	padding-right: 30px;
}

.btn-tab {
	margin-left: 15px;
}
.btn-reg {
	margin-left: 15px;
}
.input-tab {
	margin-left: 30px;
	width: auto;	
}
.btn-delete-tab {
	height: 20px !important;
}*/
/*.td-input {
	margin-left: 0px !important;
}
.form-input-tab {
	margin-left: 20px;
	width: 250px !important;
}
.row-search {
	margin-left: 20px !important;
	margin-top: 10px !important;
	/*margin-bottom: 15px;*/
	/*width: 60% !important;*/
/*}
/*.icon-search {
	margin-top: 10px;
}
.select-size {
	width: auto;
	padding-right: 30px;
}
.list-item-tab {
	margin-left: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.icon-add-size {
	margin-left: 20px ;
}
.icon-size {
	width: 25px;
}
.td-matrix-size-input {
	height: 30px !important;
	width: 60px !important;
}
.btn-delete-doctor {
    width: 100px;
}

*/

/*****************************************************************************/

#matrix-input input {
	font-size: 20px !important;
	padding-left: 10px !important;
	margin-top: -22px !important;
	margin-bottom: -10px !important;
	text-align: center !important;
	background-image: linear-gradient(#009688, #009688), linear-gradient(#fff, #fff) !important;
}
#matrix-input label {
	visibility: hidden !important;
	/*height: -150px !important;*/
}
#matrix-input-new input {
	font-size: 20px !important;
	padding-left: 10px !important;
	margin-top: -22px !important;
	margin-bottom: -10px !important;
	text-align: center !important;
}
#matrix-input-new label {
	visibility: hidden !important;
	/*height: -150px !important;*/
}
.remove-matrix {
	color: #555;
	text-decoration: none;
	margin-top: 20px !important;
}
.remove-matrix:hover {
	color: #555;
	text-decoration: none;
}
.matrix-interval-btn {
	margin-top: -50px;
	position: absolute;
	right: 0;
	margin-right: 25% !important;
}
.table-matrix-interval {
	width: 70% !important;
	text-align: center !important;
	margin-left: 18% !important;
	margin-bottom: 60px;
}
/*.table-matrix-interval tr:hover{
	background: #f3bd48;
}*/
.td-matrix-interval {
	width: 300px !important;
	text-align: center !important;
}
.td-matrix-interval-last {
	width: 100px !important;
	text-align: center !important;
	/*visibility: hidden;*/
}
.icon-preview {
	visibility: hidden;
}
.list-group-matrix a:link {
	color: #009688;
	background: #fff;
}
.list-group-matrix a:visited {
	text-decoration: none !important;
	color: #009688;
}
.list-group-matrix a:hover {
	text-decoration: none !important;
	background-color: #999 !important;
	color: #009688;
}

.table-matrix-factor {
	width: 100% !important;
	text-align: center !important;
	/*margin-left: 15% !important;*/
	margin-bottom: 60px;
}
.td-matrix-factor {
	width: 300px !important;
	text-align: center !important;
}
.td-matrix-factor-last {
	width: 100px !important;
	text-align: center !important;
	/*visibility: hidden;*/
}
.matrix-factor-btn {
	margin-top: -50px;
	position: absolute;
	right: 0;
	margin-right: 10% !important;
}

/***********************************************************************************/




.list-children {
	color: #000;
	text-decoration: none;
}
.list-children:hover {
	color: #000;
	text-decoration: none;
}
.list-children:visited {
	color: #555;
	text-decoration: none;
}


























