<template name = "forgotPassword">
    <div class="dropdown-menu" style = "padding: 15px; color:#333; width:300px" id = "forgot-password">
        <div class="form-group">
            <label for="forgot-password-email">email:</label>
             <input id="forgot-password-email" type="email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
             <button class="btn btn-primary btn-block" id="login-buttons-forgot-password" type="button"> Сбросить пароль </button>
            <button class="btn btn-flat btn-default btn-block" id="cancel-buttons" type="button"> Отмена </button>
        </div>
    </div>
</template>