<template name = "userAgreement">
	<div id="login-header" class="container-fluid">
		<img src="img/logo.svg" class="logo">
	</div>
	<div id = "userAgreementText">
		<h1>Соглашение об использовании</h1>
		<p>  Прочтите условия лицензионного соглашения прежде, чем начнете использовать данную программу. Вы имеете право согласиться с ним или отклонить. Если Вы уже используете эту программу, то это означает автоматическое принятие Вами условий лицензионного соглашения. </p>
		<p>Настоящее Лицензионное Соглашение является Договором между Вами, физическим лицом, правомерно владеющим экземпляром программы "KeepVision", и разработчиком " KeepVision, Inc. "  </p>
		<p> Исключительные имущественные авторские права на "KeepVision" и документацию в электронном виде принадлежат Правообладателю.  </p>
		<p>В случае, если Вы принимаете условия лицензионного соглашения, Вы получаете право на использование программы в соответствии с условиями настоящего лицензионного соглашения для релиз-версии программы. В противном случае, Вы должны прекратить установку или использование данной программы. </p>
		<p> 1. АВТОРСКИЕ ПРАВА </p>
		<p> Все права собственности и авторские права на Программу, сопровождающие ее любые "встроенные" или электронные документы и любые копии Программы принадлежат Разработчику. Права Разработчика на Программу защищены Законом. </p>
		<p>2. ЛИЦЕНЗИОННЫЕ ПРАВА </p>
		<p>С момента получения данной Программы, Пользователь приобретает ограниченные неисключительные имущественные права на Программу. Пользователь обязан эксплуатировать Программу в соответствии с условиями настоящего Соглашения. </p>
		<p>3. ПРАВА И ОГРАНИЧЕНИЯ ЛИЦЕНЗИИ </p>
		<p>1. Настоящая лицензия не предоставляет Пользователю право распространять Программу либо ее копии за плату любым третьим лицам; </p>
		<p>2. Пользователь может передавать экземпляр Программы третьим лицам бесплатно. При этом Пользователь должен убедиться в согласии третьих лиц с положениями настоящего Соглашения;</p>
		<p>3. Пользователь не вправе удалять, изменять или каким-либо образом скрывать какие-либо имеющиеся на Программном обеспечении уведомления о праве собственности, ярлыки и маркировку;  </p>
		<p>4. Пользователь не вправе с какой-либо целью модифицировать, преобразовывать, адаптировать либо реорганизовывать Программу; </p>
		<p>5. Не разрешается осуществлять вскрытие технологии, декомпиляцию и дизассемблирование Программы. </p>
		<p>6. Программа лицензируется как единое целое. Ее нельзя разделять на составляющие части для использования на нескольких компьютерах </p>
		<p> 4 . ТЕХНИЧЕСКАЯ ПОДДЕРЖКА </p>
		<p>Пользователь имеет право получать обновление Программы у Разработчика совершенно бесплатно, пользоваться услугами по технической поддержке программных продуктов по электронной почте и на форуме Разработчика. Технические данные, которые сообщаются службе технической поддержки в ходе обращения, могут быть использованы Разработчиком для внутренних целей, включая техническую поддержку программных продуктов и разработку программного обеспечения. Разработчик не будет использовать данные сведения в форме, раскрывающей личные сведения Пользователя. Контактная информация технической поддержи: </p>
		<p>Web-сайт: <a href="#" class = 'siteKeepVision'>http://www.keepvisionapp.com</a></p>
		<p>E-mail: support@keepvisionapp.com</p>
		<p>Телефон: +7 (917) 378-19-80</p>
		<p>5. ОТКАЗ ОТ ОТВЕТСТВЕННОСТИ ЗА СОПУТСТВУЮЩИЕ УБЫТКИ </p>
		<p>Разработчик ни при каких обстоятельствах не несет ответственности за какой-либо ущерб, включая все без исключения случаи упущенной выгоды или потери данных, либо других денежных потерь, ставших результатом использования или невозможности использования Программы, даже если Разработчик был заранее поставлен в известность о возможности подобного рода ущерба. </p>
		<p>6. ЗАДАЧИ ДАННОЙ ВЕРСИИ ПРОГРАММЫ </p>
		<p>Данная версия Программы является тестовой-версией и предназначена для глобального бесплатного использования на операционных системах Android (версии, не менее 4.0 вкл.). Программа разработана для минимизации экранного воздействия и профилактики зрительных нарушений у детей школьного возраста.</p>
		<p>7. ПРЕКРАЩЕНИЕ ДЕЙСТВИЯ СОГЛАШЕНИЯ</p>
		<p>Без ущерба для любых других своих прав Автор может прекратить действие настоящего соглашения при несоблюдении условий и ограничений данного соглашения, что обяжет вас уничтожить все имеющиеся копии и составляющие части программы. </p>

		<p>За нарушение авторских прав на Программу нарушитель несет гражданскую, административную или уголовную ответственность в соответствии с законодательством Российской Федерации.</p>

		<p>Copyright © 2015 KeepVision, Inc.</p>
		<p>Web-site :  <a href="#" class = 'siteKeepVision'>http://keepvisionapp.com</a></p>

		<div class="btn btn-default btn-flat forgot_password btnBack">Назад</div>
	</div>

</template>