<template name = "childItem">
	<div class="child_item table">
		<div class="edit table-cell">
			<i class="mdi-content-create"></i>
		</div>
		<div class="avatar table-cell">
			<!-- <div class="image" style="background-image: url('img/{{image}}');"></div> -->
			<div class="image {{imageGender}}" ></div>
		</div>
		<div class="name_status table-cell">
			<p class="name">{{name}}</p>
		  {{#if time_session}} 
		  	<p class="status">{{time_session}}</p>
		  {{/if}}
		</div>
		<div class="lvl_now table-cell">
    <!-- All classes:
      -> ok
      -> warning
      -> danger
      -> grey
    -->
    <div class="lvl_color {{status}}"></div>
  </div>
  <div class="remove table-cell">
  	<i class="mdi-action-delete"></i>
  </div>
</div>
</template>

