<template name = "listChild">
	<div>
	<div id="header">
		<div class="back table-cell no-vis"></div>
		<p class="pagename table-cell">Your Children</p>
		{{> menu}}
		<div class="clear"></div>
		<button class="fl_action_button btn btn-fab btn-raised btn-material-orange btn-add-child"><i class="mdi-content-add"></i></button>
	</div>


	<div class="main-content no-padding">
		<div class="head table">
			<div class="col_name table-cell">Name</div>
			<div class="col_lvl table-cell">Rysk lvl</div>
		</div>
		<div class="child_list">
			{{#each childrenList}}
			{{> childItem}}
			{{else}}
			<h3>Now you may add your child in application</h3>
			{{/each}}
		</div> 
	</div>
	
	
</div>
</template>