<template name = "doctorMap">
<div id="header">
      <div class="back table-cell"></div>
      <p class="pagename table-cell">Find Doctor</p>
      {{> menu}}
      <div class="clear"></div>
  </div>
	 {{#if geolocationAvailable}}
	 		<div class = "map-container" id="map-canvas">
   			{{> googleMap name="doctorMap" options=exampleMapOptions}}
  		</div>
   {{else}}
    
    {{#if errorGeolocation}}
      <div style = "text-align:center;">
        <h3> Unable to find location. Turn navigation, and then repeat. Or skip. </h3>
      </div>
      <button id = "skipGeolocation" class ="btn btn-default btn-flat forgot_password"> skip  </button>
      <button id = "repeatGeolocation" class ="btn btn-default btn-flat forgot_password"> repeat  </button> 
    {{else}}
      <div style = "text-align:center;">
        <h3>find the location... </h3>
      </div>
      {{>loading}}
    {{/if}}

	 {{/if}}
	
</template>