<template name="itemAdmin">
    <div class="list-group-item" id={{_id}}>
		<div class="row-action-primary">
			<i class="mdi-file-folder doctor-list-icon"></i>
		</div>
		<div class="row-content">
			<a href="">
				<div id="delete" class="least-content">
					<div class="icon-preview">
						<i class="mdi-content-clear"></i>
					</div>
				</div>
			</a>
			<a href="{{pathFor 'pageAdmin'}}" id="admin-detail">
				<h4 class="list-group-item-heading">
					{{profile.first_name}} {{profile.last_name}}
				</h4>
				<p class="list-group-item-text">{{status}}</p>
			</a>
        </div>
    </div>
    <div class="list-group-separator"></div>
</template>