<template name="listAdmins">
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			{{#if currentUser}}
				<div class="row">
					<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
					<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3>
									<p class="text-primary text-head">
										Администраторы
									</p>
								</h3>
							</div>
							<div id="add-admin" class="doctor-btn-new">
								<a href="{{pathFor 'newAdmin'}}" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
							</div>
							<div class="panel-body">
								<div class="list-group">
									{{#each admin}}
										{{> itemAdmin}}
									{{/each}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
				</div>
			
			
			
			
			<!--	{{#if addAdmin}}		
					{{#autoForm schema = "Schems.adminNew" id = "authorizationForm" }}
						<div class="form-input-tab">{{> afQuickField name = 'email'}}</div>
						<div class="form-input-tab">{{> afQuickField name = 'name'}}</div>
						<div class="form-group">
							<button class="btn btn-primary btn-reg"  type="submit">Сохранить</button>
						</div>
					{{/autoForm}}	
				{{else}}
				{{/if}}-->
			{{else}}
				<h1><p class="text-danger text-head">
					Пожалуйста авторизуйтесь!
				</p></h1>
			{{/if}}
		</div>
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
	</div>
</template>

		