<template name="newAdmin">
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			{{#if currentUser}}
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-0">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3><p class="text-primary text-head">
									Администраторы
								</p></h3>
							</div>
							<div id="add-admin" class="doctor-btn-new">
								<a href="{{pathFor 'newAdmin'}}" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
							</div>
							<div class="panel-body">
								<div class="list-group">
									{{#each admin}}
										{{> itemAdmin}}
									{{/each}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
						<div class="panel panel-primary">
						{{#if letterSend}}
							<div class="panel-heading doctor-page-text-head">
							</div>	
							<div class="panel-body">
								<h3><p class="text-primary text-head">
									Пожалуйста, проверьте свою почту
								</p></h3>
							</div>
						{{else}}
							<div class="panel-heading doctor-page-text-head">
								<h3><p class="text">
									Добавление нового администратора
								</p></h3>
							</div>	
							{{#autoForm schema = "Schems.adminNew" id = "authorizationForm" }}
							<div class="form-group doctor-btn-save">
								<button class="btn btn-primary btn-fab btn-raised mdi-action-done" type="submit"></button>
							</div>
							
							<div class="panel-body">
								<div class="list-group">
									<div class="list-group-item">
										<i class="mdi-toggle-radio-button-off"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'first_name'}}
											</div>
											<p class="list-group-item-text">First name</p>
										</div>
									</div>		
									<div class="list-group-item">
										<i class="mdi-toggle-radio-button-off"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'last_name'}}
											</div>
											<p class="list-group-item-text">Last name</p>
										</div>
									</div>
									<div class="list-group-item">
										<i class="mdi-content-mail"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'email'}}
											</div>
											<p class="list-group-item-text">email</p>
										</div>
									</div>	
									<br>
								</div>
							</div>
							{{/autoForm}} 	
						{{/if}}
						</div>
					</div>
				</div>
			{{else}}
				<h1><p class="text-danger text-head">
					Пожалуйста авторизуйтесь!
				</p></h1>
			{{/if}}
		</div>
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
	</div>
	
	
	


</template>






