<template name="pageAdmin">
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			{{#if currentUser}}
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-0">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3><p class="text-primary text-head">
									Администраторы
								</p></h3>
							</div>
							<div id="add-admin" class="doctor-btn-new">
								<a href="{{pathFor 'newAdmin'}}" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
							</div>
							<div class="panel-body">
								<div class="list-group">
									{{#each admin}}
										{{> itemAdmin}}
									{{/each}}
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
						<div class="panel panel-primary">
							<div class="panel-heading doctor-page-text-head">
								<h3><p class="text">
									{{adminOne.profile.first_name}} {{adminOne.profile.last_name}}
								</p></h3>
							</div>	
						<!--	{{#autoForm schema = "Schems.adminEdit" id = "authorizationForm" }}
								<div class="form-group doctor-btn-save">
									<button class="btn btn-primary btn-fab btn-raised mdi-action-done" type="submit"></button>
								</div>-->
								<div class="panel-body">
									<div class="list-group">
										<div class="list-group-item">
											<i class="mdi-content-mail"></i>
											<div class="row-content doctor-page">
												<div id="doctor-input" class="doctor-form-input-tab">
													<!--{{> afQuickField name = 'email' value=init.email}}-->
													<h3>{{email}}</h3>
												</div>
												<p class="list-group-item-text">email</p>
											</div>
										</div>			
										
										<hr class="doctor-separator">
										
										<div class="list-group-item">
											<i class="mdi-toggle-radio-button-off"></i>
											<div class="row-content doctor-page">
												<!--<div id="doctor-select" class="form-group">
													<div class="col-lg-10">
														<select class="form-control" id="select">
															<option>
																<div id="doctor-input" class="doctor-form-input-tab">
																	{{active}}
																</div>
															</option>
															<option>
																<div id="doctor-input" class="doctor-form-input-tab">
																	{{removed}}
																</div>
															</option>
														</select>
													</div>
												</div>-->
												<div id="doctor-input" class="doctor-form-input-tab">
													<h3>{{status}}</h3>
												</div>
												<p class="list-group-item-text">status</p>
											</div>
										</div>
										
										<div class="list-group-item">
											<i class="mdi-toggle-radio-button-off"></i>
											<div class="row-content doctor-page">
												<div id="doctor-input" class="doctor-form-input-tab">
												<!--	{{> afQuickField name = 'email' value=init.email}}-->
													<h3>{{language}}</h3>
												</div>
												<p class="list-group-item-text">language</p>
											</div>
										</div>
										
										<hr class="doctor-separator">
										
										<div class="list-group-item">
											<div class="row-content doctor-page">
												<h6 class="list-group-item-heading">
													{{createdAt}}
												</h6>
												<p class="list-group-item-text">Date create</p>
											</div>
										</div>
										<div class="list-group-item">
											<div class="row-content doctor-page">
												<h6 class="list-group-item-heading">
													{{date_update}}
												</h6>
												<p class="list-group-item-text">Date update</p>
											</div>
										</div>
									</div>
								</div>
						<!--	{{/autoForm}}-->	
						</div>
					</div>
				</div>					
			{{else}}
				<h1>
					<p class="text-danger text-head">
						Пожалуйста авторизуйтесь!
					</p>
				</h1>
			{{/if}}
		</div>
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
	</div>
								
</template>





			
		