.inner {
	position:absolute;
	width:100%;
  padding-left: 10%;
  padding-right: 10%;
}

.animate-screen {
	 -webkit-transition-duration: 0.25s;
    transition-duration: 0.25s;
     transition-property: transform;
}

.left-screen {
	 -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
}

.center-screen {
 -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.right-screen {
	 -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
}


#tab_day, #tab_month {
	position:absolute; 
	width:100%; 
	overflow:hidden;
}

