<template name = "reportUse">
	<div id="header">
		<div class="back table-cell"></div>
		<p class="pagename table-cell">{{children_name}}</p>
		{{> menu}}
		<div class="clear"></div>
	</div>
	<div class="main-content no-padding">
		<div id="tabs" class="table">
			<div class="tab active table-cell" data-target="day" id = "day_tab_head" >Day</div>
			<div class="tab table-cell" data-target="month" id = "month_tab_head">Month</div>
		</div>
		<div class="tab_panel day" id = "tab_day">
		</div>
		<div class="tab_panel month" id = "tab_month">
		</div>
	</div>
</template>