<template name="listDoctors">
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			{{#if currentUser}}
					<div class="row">
						<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
						<div class="col-lg-10 col-md-10 col-sm-12 col-xs-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<h3>
										<p class="text-primary text-head">
											Врачи
										</p>
									</h3>
								</div>
								<div class="doctor-btn-new">
									<a href="{{pathFor 'newDoctor'}}" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
								</div>
								<div class="panel-body">
									<div class="list-group">
										{{#each doctor}}
											{{> itemDoctor}}
										{{/each}}
									</div>
									<ul class="pager">
										{{#if less}}
											<li><a>Previous</a></li>
										{{else}}
											<li><a id="page-previous" href="">Previous</a></li>
										{{/if}}
										
										<li class="text-primary">{{page}}</li>
											
										{{#if more}}
											<li><a>Next</a></li>
										{{else}}
											<li><a id="page-next" href="">Next</a></li>
										{{/if}}
									</ul>
								</div>
							</div>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-0 col-xs-0"></div>
					</div>
			{{else}}
				<h1><p class="text-danger text-head">
					Пожалуйста авторизуйтесь!
				</p></h1>
			{{/if}}
		</div>
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
	</div>
</template>





			
		