<template name="newDoctor">
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			{{#if currentUser}}
				<div class="row">
					<div class="col-lg-7 col-md-7 col-sm-7 col-xs-0">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3><p class="text-primary text-head">
									Врачи
								</p></h3>
							</div>
							<div class="doctor-btn-new">
								<a href="" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
							</div>
							<div class="panel-body">
								<div class="list-group">
									{{#each doctor}}
										{{> itemDoctor}}
									{{/each}}
								</div>
									
								<ul class="pager">
									{{#if less}}
										<li><a>Previous</a></li>
									{{else}}
										<li><a id="page-previous" href="">Previous</a></li>
									{{/if}}
										
									<li class="text-primary">{{page}}</li>
											
									{{#if more}}
										<li><a>Next</a></li>
									{{else}}
										<li><a id="page-next" href="">Next</a></li>
									{{/if}}
								</ul>
							</div>
						</div>
					</div>
					<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
						<div class="panel panel-primary">
							<div class="panel-heading doctor-page-text-head">
								<h3><p class="text">
									Добавление нового врача
								</p></h3>
							</div>	
							{{#autoForm schema = "Schems.doctorNew" id = "authorizationForm" }}
							<div class="form-group doctor-btn-save">
								<button class="btn btn-primary btn-fab btn-raised mdi-action-done" type="submit"></button>
							</div>
							
							<div class="panel-body">
								<div class="list-group">
									<div class="list-group-item">
										<i class="mdi-toggle-radio-button-off"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'first_name'}}
											</div>
											<p class="list-group-item-text">First name</p>
										</div>
									</div>		
									<div class="list-group-item">
										<i class="mdi-toggle-radio-button-off"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'last_name'}}
											</div>
											<p class="list-group-item-text">Last name</p>
										</div>
									</div>
									<div class="list-group-item">
										<i class="mdi-communication-phone"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'phone'}}
											</div>
											<p class="list-group-item-text">Mobile</p>
										</div>
									</div>
									<div class="list-group-item">
										<i class="mdi-content-mail"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'email'}}
											</div>
											<p class="list-group-item-text">email</p>
										</div>
									</div>									
									<div class="list-group-item">
										<i class="mdi-action-language"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'website'}}
											</div>
											<p class="list-group-item-text">Web</p>
										</div>
									</div>	
									
									<br><br>
									<div class="list-group-item">
										<i class="mdi-toggle-radio-button-off"></i>
										<div class="row-content doctor-page">
											<div id="doctor-select-new" class="form-group">
												<div class="col-lg-10">
													<select class="form-control" id="select">
														<option>clinic</option>
														<option>private</option>
													</select>
												</div>
											</div>
											<br>
											<p class="list-group-item-text">Type doctor</p>
										</div>
									</div>
									<div class="list-group-item">
										<i class="mdi-action-home"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'address'}}
											</div>
											<p class="list-group-item-text">Address</p>
										</div>
									</div>
									{{> mapNew}}
									
									<div class="list-group-item">
										<i class="mdi-communication-location-on"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'latitude'}}
											</div>
											<p class="list-group-item-text">Latitude</p>
										</div>
									</div>
									<div class="list-group-item">
										<i class="mdi-communication-location-on"></i>
										<div class="row-content doctor-page">
											<div id="doctor-input-new" class="doctor-form-input-tab">
												{{> afQuickField name = 'longitude'}}
											</div>
											<p class="list-group-item-text">Longitude</p>
										</div>
									</div>
									
									
								</div>
							</div>
							{{/autoForm}} 	
						</div>
					</div>
				</div>
			{{else}}
				<h1><p class="text-danger text-header">
					Пожалуйста авторизуйтесь!
				</p></h1>
			{{/if}}
		</div>
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
	</div>
	
	
	


</template>






