<template name = "menuAuthUser">
    <ul class="dropdown-menu">

 <!--       <li><a href="javascript:void(0)" id="change-profile" >Личный кабинет</a></li>-->

        <li><a href="javascript:void(0)" id="change-password">Изменить пароль</a></li>

    	<li class="divider"></li>
    	<li><a href="javascript:void(0)" id="login-buttons-logout">Выход</a></li>
    </ul>
</template>