<template name = "reportUseDay">
	<div class="inner animate-screen">
		<div class="head table">
			<div class="prev table-cell"></div>
			<p class="month_name table-cell">{{dateHours}}</p>
			<div class="next table-cell"></div>
		</div>
		<div class="day_content">
			{{#each gridHours}}
			<div class="day_hour">
				<span class="hour">{{timeStr}}</span>
				<div class ="actives {{hour}}"> </div>
			</div> 
			{{/each}}
		</div>
	</div>
</template>