<template name = "editChild">
    <div id="header">
    <div class="back table-cell"></div>
    <p class="pagename table-cell">{{name}}</p>
<!--
    In the func.js  -> $(".select").dropdown({ "autoinit" : ".select" });

<form method="post" action="#" class="header_actions table-cell">
    <select name="actions" class="select">
        <option value="pass">Change password</option>
        <option value="exit">Exit</option>
    </select>
  </form> -->
    <!-- <div class="header_actions table-cell">
      <div class="circle"></div>
    </div> -->
    {{> menu}}
    <div class="clear"></div>
  </div>
  <div class="main-content">
    <!-- <form method="post" action="#" class="add_child"> -->
    {{#autoForm schema = 'Schems.childClient'  doc = this id = 'editChildrenForm' type = 'method' meteormethod = 'editChild' class="add_child"}}
      <!-- <div class="line need_height">
        <label>Add photo:</label>
        <div class="child_photo empty"></div>
      </div> -->
      <div class="line">
        <!-- <input class="form-control" placeholder="Name" type="text" name="name"> -->
        {{> afFieldInput name='name' id = 'name' placeholder = 'Name' }} 
        {{#if afFieldIsInvalid name='name'}}
          <span class="help-block">{{afFieldMessage name='name'}}</span>
        {{/if}}
      </div>
      <div class="line need_height select_male">
        <label>Select male:</label>
        <div class="radios">
          <div class="radio_group">
            <input type="radio" name="male" value='1' class="radio_input none">
            <div class="radio_block male" data-target="male"></div>
          </div>
          <div class="radio_group">
            <input type="radio" name="male" value='0' class="radio_input none">
            <div class="radio_block female" data-target="female"></div>
          </div>
        </div>
      </div>
      <div class="line">
        <!-- <input class="form-control" placeholder="Birthday date" type="text" name="birthday"> -->
        {{> afFieldInput name='birthday' id='birthday' placeholder="Birthday date" }} 
        {{#if afFieldIsInvalid name='birthday'}}
          <span class="help-block">{{afFieldMessage name='birthday'}}</span>
        {{/if}}
      </div>
    <!--  <div class="line need_margin">
        <div class="checkbox">
          <label>
            <input checked="" type="checkbox" name="parents">
            Parents have the desease of vision
          </label>
        </div>
      </div> -->
      <div class="line need_margin">
            <label id = "desease">
              <span class="mdi-toggle-check-box-outline-blank" id = "deseaseSymbol"></span> 
              Parents have the desease of vision
              </label> 
              <input type="checkbox" style="opacity:0;" id = "deseaseInput"> 
      </div>
      <div class="line">
        <p class="name">
          Sharpness of vision:
          <span id="count">{{sharpness}}</span>
        </p>
        <div class="slider shor slider-material-blue" id = "slider"></div>
      </div>
      <div class = "has-error" ><h3>{{messageServer}}</h3></div>
      <button type="submit" class="btn btn-primary orange">Save</button>
    {{/autoForm}}
  </div>
</template>