<template name = 'menu'>
			<li class="dropdown table-cell" style = "list-style-type:none; text-align:right;width:20%; height:100%;">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
      	<i class="mdi-navigation-more-vert" style = "color:white;font-size:2em;" ></i>
      </a>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li class = "menu-item" ><a href="{{pathFor 'changePassword'}}" >Change password</a></li>
				<li class = "menu-item" ><a href="{{pathFor 'doctorMap'}}">Doctors</a></li>
        <li class = "menu-item" ><a href="#" id = "logout">Logout</a></li>
        <li class="divider"></li>
				<li class = "menu-item" ><a href="#" id = "about">About</a></li>
      </ul>
    </li>
</template>