<template name="authorization">
	<div class="dropdown-menu" style = "padding: 15px; color:#333; width:300px" id = "authorization">
		{{#autoForm schema = "Schems.authorization" id = "authorizationForm" }}
			{{> afQuickField name = 'email'}}
			{{> afQuickField name = 'password' type = 'password'}}
			<div class="form-group">
				<button class="btn btn-primary btn-block"  type="submit">Войти</button>
			</div>
		{{/autoForm}}
		<div class="formgroup">
			<a id="forgot-password-link" class="pull-left">Забыли пароль?</a>
		</div>
	</div>
</template>



		