<template name="factorMatrix">
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			{{#if currentUser}}
				<div class="row">
					<div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
						<div class="panel panel-default">
							<div class="panel-heading">
								<div class="list-group list-group-matrix">
									<div class="list-group-item">
										<div class="row-content">
											<a href="" id="durationBreaks">
												<h4 class="list-group-item-text">
													Продолжительность перерывов
												</h4>
											</a>
										</div>
									</div>
									<div class="list-group-separator"></div>
									
									<div class="list-group-item">
										<div class="row-content">
											<a href="" id="dailyUse">
												<h4 class="list-group-item-text">
													Ежедневное пользование
												</h4>
											</a>
										</div>
									</div>
									<div class="list-group-separator"></div>
									
									<div class="list-group-item">					
										<div class="row-content">
											<a href="" id="visualAcuity">
												<h4 class="list-group-item-text">
													Острота зрения
												</h4>
											</a>
										</div>
									</div>
									<div class="list-group-separator"></div>
									
									<div class="list-group-item">										
										<div class="row-content">
											<a href="" id="gender">
												<h4 class="list-group-item-text">
													Пол
												</h4>
											</a>
										</div>
									</div>
									<div class="list-group-separator"></div>
									
									<div class="list-group-item">										
										<div class="row-content">
											<a href="" id="heredity">
												<h4 class="list-group-item-text">
													Наследственность
												</h4>
											</a>
										</div>
									</div>
									<div class="list-group-separator"></div>
									
									<div class="list-group-item">										
										<div class="row-content">
											<a href="" id="lighting">
												<h4 class="list-group-item-text">
													Освещение
												</h4>
											</a>
										</div>
									</div>
									<div class="list-group-separator"></div>
									
								</div>
							</div>
						</div>
					</div>
					<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
						<div class="panel panel-default">
							<div class="panel-heading">
								{{#if durationBreaks}}
									<h3><p class="text-primary text-header">
										Продолжительность перерывов
									</p></h3>
								{{else}}
									{{#if dailyUse}}
										<h3><p class="text-primary text-header">
											Ежедневное пользование
										</p></h3>
									{{else}}
										{{#if visualAcuity}}
											<h3><p class="text-primary text-header">
												Острота зрения
											</p></h3>
										{{else}}
											{{#if gender}}
												<h3><p class="text-primary text-header">
													Пол
												</p></h3>
											{{else}}
												{{#if heredity}}
													<h3><p class="text-primary text-header">
														Наследственность
													</p></h3>
												{{else}}
													{{#if lighting}}
														<h3><p class="text-primary text-header">
															Освещение
														</p></h3>
													{{/if}}
												{{/if}}
											{{/if}}
										{{/if}}
									{{/if}}
								{{/if}}
							</div>
						
							<div class="panel-body">
								{{#if addMatrix}}	
									<table class="table table-striped table-hover table-matrix-factor">
										<tr>
											<td class="td-matrix-factor">Age from</td>
											<td class="td-matrix-factor">Age to</td>
											<td class="td-matrix-factor">Value from</td>
											<td class="td-matrix-factor">Value to</td>
											<td class="td-matrix-factor">Factor</td>
											<td class="td-matrix-factor-last"></td>
										</tr>
									</table>
									<table class="table table-striped table-hover table-matrix-factor">
										<tbody>
											{{#each matrix}}
												{{> itemMatrixFactor}}
											{{/each}}
									
											{{#autoForm schema = "Schems.factorMatrix" id = "newMatrixFactor" autosaveOnKeyup = true trimStrings = false}}
												<tr>
													<td class="td-matrix-factor" style="border:1px solid #ccc">
														<div id="matrix-input-new">
															{{> afQuickField name = 'age_from'}}
														</div>
													</td>
													<td class="td-matrix-factor" style="border:1px solid #ccc">
														<div id="matrix-input-new">
															{{> afQuickField name = 'age_to'}}
														</div>
													</td>
													<td class="td-matrix-factor" style="border:1px solid #ccc">
														<div id="matrix-input-new">
															{{> afQuickField name = 'value_from'}}
														</div>
													</td>
													<td class="td-matrix-factor" style="border:1px solid #ccc">
														<div id="matrix-input-new">
															{{> afQuickField name = 'value_to'}}
														</div>
													</td>
													<td class="td-matrix-factor" style="border:1px solid #ccc">
														<div id="matrix-input-new">
															{{> afQuickField name = 'factor'}}
														</div>
													</td>
													<td class="td-matrix-factor-last">
													</td>	
												</tr>
											{{/autoForm}}
										</tbody>
									</table>
									<div class="matrix-factor-btn">
										<a href="" id="cancel-matrix" class="btn btn-primary btn-fab btn-raised mdi-content-undo"></a>
									</div>
								{{else}}
									<table class="table table-striped table-hover table-matrix-factor">
										<tr>
											<td class="td-matrix-factor">Age from</td>
											<td class="td-matrix-factor">Age to</td>
											<td class="td-matrix-factor">Value from</td>
											<td class="td-matrix-factor">Value to</td>
											<td class="td-matrix-factor">Factor</td>
											<td class="td-matrix-factor-last"></td>
										</tr>
									</table>
									<table class="table table-striped table-hover table-matrix-factor">
										<tbody>
											{{#each matrix}}
												{{> itemMatrixFactor}}
											{{/each}}
										</tbody>
									</table>
									<div class="matrix-factor-btn">
										<a href="" id="add-matrix" class="btn btn-primary btn-fab btn-raised mdi-content-add"></a>
									</div>		
								{{/if}}
							</div>
						</div>
					</div>
				</div>	
			{{else}}
				<h1><p class="text-danger text-header">
					Пожалуйста авторизуйтесь!
				</p></h1>
			{{/if}}
		</div>
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
	</div>
</template>





			
		