<template name="itemMatrixFactor">
	{{#autoForm schema = "Schems.factorMatrix" id = _id autosaveOnKeyup = true trimStrings = false}}
		<tr id={{_id}}>
			<td class="td-matrix-factor">
				<div id="matrix-input">
					{{> afQuickField name = 'age_from' value=initMatrixFactor.age_from}}
				</div>
			</td>
			<td class="td-matrix-factor">
				<div id="matrix-input">
					{{> afQuickField name = 'age_to' value=initMatrixFactor.age_to}}
				</div>
			</td>
			<td class="td-matrix-factor">
				<div id="matrix-input">
					{{> afQuickField name = 'value_from' value=initMatrixFactor.value_from}}
				</div>
			</td>
			<td class="td-matrix-factor">
				<div id="matrix-input">
					{{> afQuickField name = 'value_to' value=initMatrixFactor.value_to}}
				</div>
			</td>	
			<td class="td-matrix-factor">
				<div id="matrix-input">
					{{> afQuickField name = 'factor' value=initMatrixFactor.factor}}
				</div>
			</td>	
			<td id="delete" class="btn-delete-tab td-matrix-factor-last">
				<div class="icon-preview">
					<a href="" class="remove-matrix"><i class="mdi-content-clear"></i></a>
				</div>
			</td>
		</tr>
	{{/autoForm}}
</template>


