<template name = "createUser">
    <div class="dropdown-menu" style = "padding: 15px; color:#333; width:300px" id = "create-user">
        <div class="form-group">
            <label for="create-user-email">email:</label>
            <input id="create-user-email" type="email" placeholder="Email" class="form-control">
        </div>
        <div class="form-group">
             <label for="create-user-password">password:</label>
            <input id="create-user-password" type="password" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
             <button class="btn btn-inverse btn-block" id="create-account-buttons" type="button"> Создать </button>
             <button class="btn btn-flat btn-default btn-block" id="cancel-buttons" type="button"> Отмена </button>
        </div>
    </div>
</template>