<template name="itemChild">
    <div class="list-group-item">
		<div class="row-action-primary">
			<i class="mdi-file-folder"></i>
		</div>
		<div class="row-content">
			<a href="{{pathFor 'pageChild'}}">
				<h4 class="list-group-item-heading">
					{{name}}
				</h4>
			</a>
        </div>
    </div>
	
    <div class="list-group-separator"></div>
</template>