<template name="itemSession">
    <tr id={{_id}}>
		<td>{{begin}}</td>
		{{#if green}}
			<td class="td-session td-green">{{green}}</td>
		{{else}}
			<td class="td-session"></td>
		{{/if}}
		{{#if yellow}}
			<td class="td-session td-yellow">{{yellow}}</td>
		{{else}}
			<td class="td-session"></td>
		{{/if}}
		{{#if red}}
			<td class="td-session td-red">{{red}}</td>
		{{else}}
			<td class="td-session"></td>
		{{/if}}
		<td class="td-session">{{interval}}</td>
	</tr>
</template>