<template name="itemDiagnosis">
    <tr id={{_id}}>
		<td>{{diagnosis_data}}</td>
		<td>{{vision_safety}}</td>
		<td id="more-info">
			<a href="" class="remove-matrix"><i class="mdi-action-description"></i></a>
		</td>
	</tr>
		
</template>