<template name="pageChild">
	<div class="row">
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
		<div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
			<div class="row">
				<div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h2>
								<p class="text-primary text-head">
									{{child.name}} 
								</p>
							</h2>
						</div>
						<div id="child-btn-back">
							<a href="{{pathFor 'pageUser'}}" class="btn btn-primary btn-fab btn-raised mdi-navigation-arrow-back"></a>
						</div>
						<div class="panel-body">
							<div class="list-group">
								<div class="list-group-item">
									<div class="row-content page-properties">
										<h6 class="list-group-item-heading">
											{{birthday}}
										</h6>
										<p class="list-group-item-text">дата рождения</p>
									</div>
								</div>	
								<div class="list-group-item">
									<div class="row-content page-properties">
										<h6 class="list-group-item-heading">
											{{#if genderFemale}}
												жен.
											{{/if}}
											{{#if genderMale}}
												муж.
											{{/if}}	
										</h6>
										<p class="list-group-item-text">пол</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-content page-properties">
										<h6 class="list-group-item-heading">
											{{#if child.options}}
												{{child.options.sharpness}}
											{{/if}}
										</h6>
										<p class="list-group-item-text">острота зрения</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-content page-properties">
										<h6 class="list-group-item-heading">
											{{#if goodParrent}}
												хорошая
											{{/if}}
											{{#if badParrent}}
												плохая
											{{/if}}
										</h6>
										<p class="list-group-item-text">наследственность</p>
									</div>
								</div>
								<div class="list-group-item">
									<div class="row-content page-properties">
										<h6 class="list-group-item-heading">
											{{date_update}}
										</h6>
										<p class="list-group-item-text">дата изменений</p>
									</div>
								</div>

								<hr class="page-separator">
							</div>
							
							<div class="row">
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<a id="diagnosis" href="" class="btn btn-flat btn-primary">Диагностика</a>
								</div>
								<div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
									<a id="session" href="" class="btn btn-flat btn-primary">Сеансы</a>
								</div>
							</div>
							
							{{#if diagnosisMore}}
								<h4>
									<p class="text-primary text-head">
										Диагностика зрения
									</p>
								</h4>
								<table class="table table-striped table-hover table-diagnosis">
									<thead>
										<tr>
											<th>Дата диагностики</th>
											<th>Сохр. зр.</th>
											<th>Подробнее</th>
										</tr>
									</thead>
									<tbody>
										{{#each diagnosis}}
											{{> itemDiagnosis}}
										{{/each}}
									</tbody>
								</table>
								<ul class="pager">
									{{#if lessDiagnosis}}
										<li><a>вернуться</a></li>
									{{else}}
										<li><a id="page-previous-d" href="">вернуться</a></li>
									{{/if}}
											
									<li class="text-primary">{{pageDiagnosis}}</li>
											
									{{#if moreDiagnosis}}
										<li><a>показать еще</a></li>
									{{else}}
										<li><a id="page-next-d" href="">показать еще</a></li>
									{{/if}}
								</ul>	
							{{else}}
								{{#if sessionMore}}
									<h4>
										<p class="text-primary text-head">
											Сеансы использования
										</p>
									</h4>
									<div class="row">
										<table class="table table-striped table-hover table-session">
											<thead>
												<tr>
													<th>Начало</th>
													<th></th>
													<th></th>
													<th></th>
													<th>Перерыв</th>
												</tr>
											</thead>
											<tbody>
												{{#each session}}
													{{> itemSession}}
												{{/each}}
											</tbody>
										</table>
										<ul class="pager">
											{{#if lessSession}}
												<li><a>вернуться</a></li>
											{{else}}
												<li><a id="page-previous-s" href="">вернуться</a></li>
											{{/if}}
											
											<li class="text-primary">{{pageSession}}</li>
											
											{{#if moreSession}}
												<li><a>показать еще</a></li>
											{{else}}
												<li><a id="page-next-s" href="">показать еще</a></li>
											{{/if}}
										</ul>	
									</div>
								{{/if}}
							{{/if}}
						</div>
					</div>
				</div>
				<div class="col-lg-5 col-md-5 col-sm-5 col-xs-0">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3><p class="text user-name">
								{{parrent.profile.first_name}} {{parrent.profile.last_name}}
							</p></h3>
						</div>
						<div class="panel-body">
							<div class="list-group">
									<div class="list-group-item">
										<i class="mdi-content-mail"></i>
										<div class="row-content page-properties">
											<h6 class="list-group-item-heading">
												{{email}}
											</h6>
											<p class="list-group-item-text">email</p>
										</div>
									</div>	
									<hr class="page-separator">
									
									<div class="list-group-item">
										<div class="row-content page-properties-without-icon">
											<h6 class="list-group-item-heading">
												{{parrent.ui_language}}
											</h6>
											<p class="list-group-item-text">Language</p>
										</div>
									</div>		
									<hr class="page-separator">
									
									<div class="list-group-item">
										<div class="row-content page-properties-without-icon">
											<h6 class="list-group-item-heading">
												{{createdAt}}
											</h6>
											<p class="list-group-item-text">Date create</p>
										</div>
									</div>
									<div class="list-group-item">
										<div class="row-content page-properties-without-icon">
											<h6 class="list-group-item-heading">
												{{date_update_par}}
											</h6>
											<p class="list-group-item-text">Date update</p>
										</div>
									</div>
									<hr class="page-separator">
							</div>
	
							<h3>
								<p class="text-primary text-head">
									Дети:
								</p>
							</h3>
							<br>
							<div class="list-group">
								{{#each children}}
									{{> itemChild}}
								{{/each}}
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-2 col-md-1 col-sm-0 col-xs-0"></div>
	</div>
</template>





			
		