<template name = "passwordChangeDialog">
	<div class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
						<span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">Установите новый пароль</h4>
				</div>

				<div class="modal-body">
					{{#autoForm schema = "Schems.changePassword" id = "changePasswordForm"}}
					<fieldset>
						{{> afQuickField name = "passwordOld" type ="password"}}
						{{> afQuickField name = "password" type ="password"}}
						{{> afQuickField name = "passwordCopy" type ="password"}}
					</fieldset>
					<button type = "submit" class = "btn btn-primary">Сохранить </button>
					<button type = "button" class = "btn btn-flat btn-default btn-close">Закрыть</button>
					{{/autoForm}}
				</div>
			</div>
		</div>
	</div>
</template>

